@page "/Projects"
@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager NavManager


<div class=" animate__animated @_classeBounceIn">
    <ProjectCard Goto="Goto"/>
</div>

@if (_isDetail)
{
    <article class="message animate__animated @_classesBounceInRight">
        <div class="message-header">
            <p>
                LOALLllllllllllllllllllllllllllllllllllllllllllllllllllllll
            </p>
        </div>
        <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum
            <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>.
        </div>
        <a class="button" @onclick="BackTo">
            Accueil
        </a>
    </article>
}

@code {
    string _classeBounceIn = "animate__bounceIn";
    string _classesBounceInRight = "animate__bounceInRight";

    bool _isDetail;

    async void Goto()
    {
        _classeBounceIn = "animate__bounceOut";
        await Task.Delay(500);
        _classeBounceIn = "is-hidden";
        _isDetail = true;
        StateHasChanged();
    }

    async void BackTo()
    {
        _classesBounceInRight = "animate__bounceOutRight";
        await Task.Delay(500);
        _classeBounceIn = "animate__bounceIn";
        _isDetail = false;
        _classesBounceInRight = "animate__bounceInRight";
        StateHasChanged();
    }

}