@page "/Projects"
@using Microsoft.AspNetCore.Http.Extensions
@inject NavigationManager NavManager


<div class="@_classes">
    <ProjectCard Goto="Goto"/>
</div>

@if (_id != null)
{
    <article class="message animate__animated @_classesBack">
        <div class="message-header">
            <p>
                LOALLllllllllllllllllllllllllllllllllllllllllllllllllllllll
            </p>
        </div>
        <div class="message-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum
            <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>.
        </div>
        <a class="button" @onclick="BackTo">
            Accueil
        </a>
    </article>
}

@code {
    string _classes = "animate__animated animate__bounceIn";
    string _id;
    string _classesBack = "animate__bounceInRight";

    async void Goto()
    {
        _classes = "animate__animated animate__bounceOut";
        await Task.Delay(500);
        _classes = "is-hidden";
        _id = "ok";
        StateHasChanged();
    //      NavManager.NavigateTo("/Detail");
    }

    async void BackTo()
    {
        _classesBack = "animate__bounceOutRight";
        await Task.Delay(500);
        _classes = "animate__animated animate__bounceIn";
        _id = null;
        _classesBack = "animate__bounceInRight";
        StateHasChanged();
    //      NavManager.NavigateTo("/Detail");
    }

}